django>=1.11.18
#mysql-python==1.2.5
mysqlclient
djangorestframework==3.11.2
django-rest-swagger==2.2.0
django-extensions==2.1.4
git+https://github.com/huifenqi/django-click.git
newrelic
django-elasticsearch-dsl==0.5.1
shortuuid
jsonfield==2.0.2
git+https://github.com/bastionhost/django-admin-json-editor.git
